/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.07.2015, 19:12:42
    Author     : Marcel-Privat
*/

body {
	margin : 0;
        padding:0;
	font-size : 20px;
        font: 14px "Helvetica", Helvetica, Arial, sans-serif;
        color:black;
}

html, body {
  overflow-y:hidden;
  height:100%;
}

a {
	cursor:pointer;
}

#game {
    position : absolute;
    left : 0;
    top : 0;
    /*background-color : rgb(30,30,30);*/
    right:0;
    bottom:0;

}



#debugWindow {
    font-size : 12px;
    line-height: 10px;
    font-family: "Courier New";
    color:white;
    font-weight:bold;
    position: fixed;
    right:0;
    bottom:0;
    width:360px;
    height:210px;
    background-color: rgba(30,30,30,0.5);
    padding: 20px 30px;
    margin:60px;
    z-index:35;
    word-wrap: break-word;
    letter-spacing: -1px;
}

#chatWindow {
    font-size : 12px;
    line-height: 10px;
    color:white;
    position: fixed;
    left:0;
    bottom:0;
    width:360px;
    height:210px;
    background-color: rgba(30,30,30,0.5);
    margin:60px;
    z-index:35;
    padding: 20px 30px;
    font: 14px "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 12px;


}

#chatWindow p{
    margin:0;
}


#chatMessage {
    background-color: rgba(30,30,30,0.2);
    border:0;
    position: absolute;
    bottom:0;
    width:100%;
    height: 20px;
    color:white;
    line-height: 10px;
}

.debugOptions {
}

/*Touchinterface*/
#touchInterface{
    position:absolute;
    z-index:1000;
}

@keyframes fight {
    50% {background-image: url("../img/menu/boxring_hl.png");}
}

@keyframes fightZoom {
    0% {
        height: 30em;
        width: round(30*1.8597662771285475792988313856427)+em;
        left:-10em;
        top:30%;
        
    }
    
    100% {
        width: round(40*1.8597662771285475792988313856427)+em;
        height: 40em;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        left: 0 !important;
        right: 0 !important;
    }
          
}

#menu {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: url("../img/menu/menu_leer.png");
    background-size:cover;
    
    #login {
        @extend .center;
        @extend .bg;
        
        div {
            padding: 20px;
        }
        
        #loginbutton {
            padding: 5px;
            background: #99f;
            border-radius: 2px;
            width: 50%;
            margin: 20px auto 0px;
            text-align: center;
        }
    }
    
    #fight {
        position:absolute;
        left:-10em;
        top:30%;
        width: round(30*1.8597662771285475792988313856427)+em;
        height: 30em;
        background-image: url("../img/menu/boxring.png");
        background-size:cover;
        animation-name: fight;
        cursor: pointer;
    }
    
    #ranking {
        position:absolute;
        right:5em;
        top:10%;
        width: 20em;
        height: 20em;
        background-image: url("../img/menu/bild.png");
        background-size:cover;
        animation-name: fight;
        cursor: pointer;
    }
    
    #selectcharacter {
        @extend .absolute;
        background: url("../img/menu/selectcharacter.png") center 30% no-repeat;
        
        div {
            @extend .select;
        }
    }
    
    #selectscene {
        @extend .absolute;
        background: url("../img/menu/selectscene.png") center 30% no-repeat;
        
        div {
            @extend .select;
        }
    }

    #gameover {
        @extend .absolute;

        div {
            @extend .select;
            @extend .bg;
            margin-top: 2em;
            height: auto !important;
            padding: 20px;
            text-align: center;
            font-size: large;
        }
    }
    
    #waiting {
        @extend .absolute;
        background: url("../img/menu/waiting.png") center 30% no-repeat;

    }
    
    #rankingtable {
        @extend .center;
        @extend .bg;
        width:80%;
            
        table {
            width:100%;
            tr td {
                text-align:center;
            }
        }
    }
    
    #shadow {
        /*display:none;*/
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.5);
    }
    
    #gamescreen {
        @extend .absolute;
        
        canvas {
            @extend .zoom;
            margin-top: 5%;
        }
        
        
    }
}

.animation {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.fightZoom {
    width: round(40*1.8597662771285475792988313856427)+em !important;
    height: 40em !important;
    animation-name: fightZoom !important;
    animation-duration: 2s;
    animation-iteration-count: 1;
    top: 10% !important;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    right: 0 !important;
}

.zoom {
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    right: 0 !important;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.absolute {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

.select {
    position:absolute;
    top:35%;
    width: 50%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0 !important;
    right: 0 !important;

    div {
        float:left;
        background-size:cover;
        cursor:pointer;
    }
}

.bg {
    color:white;
    background: rgba(0,0,0,0.5);
    border: 2px #00f solid;
    border-radius: 5px;
}

#back {
    position:fixed;
    top:1em;
    right:1em;
    width: 5em;
    height: 5em;
    background: url("../img/menu/back.png") center 30% no-repeat;
    background-size: contain;

}

.youwin {
    background: url("../img/menu/youwin.png") center 30% no-repeat !important;
}

.youlose {
    background: url("../img/menu/youlose.png") center 30% no-repeat !important;
}

#menumusicbutton {
    position:fixed;
    bottom:1em;
    right:1em;
    width: 5em;
    height: 5em;
    background: url("../img/menu/music.png")  no-repeat;
    background-size: contain;
}

#muaythai {
     background-image: url('../img/menu/muaythai.png');
 }

#desert {
    background-image: url('../img/menu/desert.png');
}