body {
	margin : 0;
        padding:0;
	font-size : 20px;
        font: 14px "Helvetica", Helvetica, Arial, sans-serif;
        color:black;
}

a {
	cursor:pointer;
}

#game {
    position : absolute;
    left : 0;
    top : 0;
    /*background-color : rgb(30,30,30);*/
    right:0;
    bottom:0;

}



#debugWindow {
    font-size : 12px;
    line-height: 10px;
    font-family: "Courier New";
    color:white;
    font-weight:bold;
    position: fixed;
    right:0;
    bottom:0;
    width:360px;
    height:210px;
    background-color: rgba(30,30,30,0.5);
    padding: 20px 30px;
    margin:60px;
    z-index:35;
}

#chatWindow {
    font-size : 12px;
    line-height: 10px;
    color:white;
    position: fixed;
    left:0;
    bottom:0;
    width:360px;
    height:210px;
    background-color: rgba(30,30,30,0.5);
    margin:60px;
    z-index:35;
    padding: 20px 30px;
    font: 14px "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 12px;


}

#chatWindow p{
    margin:0;
}


#chatMessage {
    background-color: rgba(30,30,30,0.2);
    border:0;
    position: absolute;
    bottom:0;
    width:100%;
    height: 20px;
    color:white;
    line-height: 10px;
}

.debugOptions {
}

.gamelayer {
    width:100%;
    height:100%;
	position:absolute;
	/*top:0;
	left:0;
	right:0;
	bottom:0;*/
}

#game-screen {
    position:absolute;
/*    top:44px;
    left:212px;
    right:12px;
    bottom:32px;*/
}

/*Loading Screen*/
#loadingscreen {
    display:none;
	background: rgba(0,0,0,1);
}

#loadingcontainer {
    width: 400px;
    text-align:center;
    height:20px; 
    border:1px solid white;
    color:white;
    margin: 400px auto 0;
}

#progressbar{
    width:0%;
    background-color:lightgreen;
    height:100%;
}

#loadingmessage {
    text-align:center;
    color:white;
    margin-top: 20px;
    height:48px;
}


/* Progress bar */
.progress {
	margin : 0 auto;
	width : 6em;
	height : 0.5em;
	border-radius : 0.5em;
	overflow : hidden;
	border : 1px solid rgb(200,200,100);
}

.progress .indicator {
	background-color : rgb(200,200,100);
	height : 100%;
	width : 0%;
}


#gameforegroundcanvas{
	z-index:30;
}

#gamebackgroundcanvas{
	z-index:20;
}